@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
/* button  */
.btn {
  width: max-content;
  padding: 25px;
  font-weight: 300;
  background: #06c167;
  color: #fff;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: 1px solid transparent;
  transition: 0.3s ease;
}
.btn:hover {
  color: #06c167;
  background: #fff;
  border: 1px solid #06c167;
}
.btn-icon {
  font-weight: 300;
  font-size: 20px;
}
/* header part  */

header {
  width: 100%;
  background-color: #f3fcf7;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top .t-logo {
  font-weight: 500;
  color: #06c167;
}
.nav {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-item {
  display: flex;
  position: relative;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s all ease;
}
.nav .dot {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 45px;
  left: 65px;
  border-radius: 50%;
  background: #06c167;
}
.nav-item.active,
.nav-item:hover {
  color: #06c167;
}
.top .fa-bars {
  display: none;
}
/* 
.nav-item:hover:before {
  content: "";
  position: absolute;
  top: 33px;
  background: #06c167;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left:calc(50% - 5px);

} */

.hcontent {
  display: flex;
}
.hleft {
  flex: 1;
  margin-top: 50px;
  margin-right: 10px;
}

.hleft .c-title {
  font-size: 60px;
  font-weight: 600;
  color: #1d1d1f;
  margin-bottom: 30px;
}
.hleft .c-text {
  color: rgba(29, 29, 31, 0.75);
  font-weight: 400;
  margin-bottom: 30px;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.right .ratings {
  width: 225px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  justify-content: space-between;
  border-radius: 20px;
  z-index: 4;
  position: absolute;
}
.ratings .r-text {
  font-size: 18px;
  font-weight: 400;
}
.fa-star {
  color: #06c167;
}
.right .img {
  margin-left: 80px;
}
.right .feedback {
  width: 240px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 25px;
  justify-content: space-between;
  z-index: 5;
  position: absolute;
  right: -25px;
  bottom: 60%;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.feedback .f-text {
  font-size: 15px;
  margin-right: 10px;
  font-weight: 500;
}

.withUs {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
}
.support {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.sUpper {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.sLeft {
  flex: 1;
}

.sLeft .c-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 25px 0;
}
.c-logo .logo-item {
  display: flex;
  align-items: center;
}
.logo-item .lg-i {
  margin-right: 10px;
}
.logo-item .t1 {
  color: rgba(29, 29, 31, 0.5);
  font-weight: 300;
  font-family: "Nanum Gothic", sans-serif;
}
.logo-item .t2 {
  color: rgba(29, 29, 31, 0.4);
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}
.logo-item .t3 {
  color: rgba(29, 29, 31, 0.5);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.sRight {
  flex: 1;
  position: relative;
}
.sr-icon {
  width: 225px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: -150px;
  right: -40px;
}
.sr-icon .fa-circle {
  color: rgba(247, 247, 247, 1);
  font-size: 8px;
  margin: 5px;
}

.sLower {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 4rem;
  justify-content: space-between;
  align-items: center;
}
hr {
  border: 1px solid rgba(133, 131, 131, 0.1);
}
.sLower .provide {
  display: flex;
}
.provide .s-icon {
  padding: 20px;
  font-size: 25px;
  background-color: #f3fcf7;
  color: #06c167;
  margin-right: 10px;
}
.provide .s-title {
  display: flex;
  flex-direction: column;
}
.s-title .s-heading {
  color: #1d1d1f;
  font-weight: 400;
}
.s-title .s-text {
  color: rgba(29, 29, 31, 0.5);
  font-weight: 500;
}

.benefit {
  display: flex;
  padding: 0 80px;
}
.b-left {
  flex: 1;
  margin-top: 70px;
  width: 100%;
  background: rgba(243, 250, 251, 1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-left .b-img {
  display: flex;
  justify-content: center;
}

.b-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  position: relative;
}
.br-title {
  color: rgba(29, 29, 31, 1);
  font-weight: 500;
}
.br-heading {
  font-size: 60px;
  color: rgba(29, 29, 31, 1);
  font-weight: 500;
  z-index: 5;
}
.br-option {
  padding-top: 80px;
  z-index: 4;
}
.br-purpose {
  display: flex;
  margin: 15px 0;
  align-items: center;
}
.br-purpose .fa-check {
  color: #06c167;
  margin-right: 15px;
  font-size: 20px;
}
.br-text {
  font-weight: 400;
  color: rgba(29, 29, 31, 1);
}

.br-icon {
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 20px;
  top: 110px;
}
.br-icon .fa-circle {
  color: rgba(247, 247, 247, 1);
  font-size: 8px;
  margin: 5px;
}

.mContent {
  display: flex;
  padding: 0 80px;
  margin: 60px 0;
}
.mLeft {
  flex: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ml-title {
  color: rgba(29, 29, 31, 1);
  font-weight: 500;
}
.ml-heading {
  font-size: 60px;
  color: rgba(29, 29, 31, 1);
  font-weight: 500;
  z-index: 5;
}
.mLeft .ml-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  margin-right: 40px;
}
.ml-count .numb {
  font-size: 30px;
  color: #06c167;
  font-weight: 500;
}

.ml-count .a-text {
  color: rgba(29, 29, 31, 0.5);
}

.mRight {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  background: rgba(243, 250, 251, 1);
  position: relative;
}

.features {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  align-items: center;
  margin: 20px 0;
}
.f-title {
  color: rgba(29, 29, 31, 1);
  font-weight: 500;
  margin: 10px;
}
.f-heading {
  font-size: 60px;
  font-weight: 500;
  color: rgba(29, 29, 31, 1);
  margin-bottom: 30px;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tile {
  display: flex;
  flex-wrap: wrap;
}
.tile .t-img {
  width: 280px;
  border: 2px solid #06c167;
}
.tile .t-box {
  width: 280px;
  background-color: rgba(243, 250, 251, 1);
  padding: 30px;
}
.tile .bx1 {
  border-top: 2px solid #06c167;
}
.tile .bx2 {
  border-top: 2px solid #06c167;
  border-right: 2px solid #06c167;
}
.tile .bx3 {
  border-left: 2px solid #06c167;
  border-bottom: 2px solid #06c167;
}
.tile .bx4 {
  border-bottom: 2px solid #06c167;
}

.t-box .bx-title {
  color: rgba(29, 29, 31, 1);
  font-size: 30px;
  font-weight: 500;
}
.t-box .bx-text {
  color: rgba(29, 29, 31, 1);
  font-weight: 400;
  margin: 10px 0;
}
.t-box .btn {
  color: #06c167;
  background: rgba(230, 249, 240, 1);
}
.t-box .btn:hover {
  background: #06c167;
  color: #f0f1ec;
}
.t-box .btn span {
  font-weight: 400;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}

.p-title {
  color: rgba(29, 29, 31, 1);
  font-weight: 500;
}

.p-heading {
  font-size: 60px;
  font-weight: 500;
  color: rgba(29, 29, 31, 1);
  margin-bottom: 30px;
}
.cards {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 25px 40px;
  border: 2px solid rgba(118, 118, 117, 0.25);
  justify-content: center;
  align-items: center;
}
.card:hover,
.card.active {
  border: 2px solid #06c167;
}
.card .cd-text {
  color: rgba(29, 29, 31, 1);
  font-weight: 400;
}
.card .cd-value {
  font-weight: 400;
  color: #06c167;
}
.cd-value .cd-del {
  margin-right: 5px;
  color: rgba(118, 118, 117, 0.5);
  font-weight: 500;
}

.card .btn {
  color: #06c167;
  background: #ffffff;
  padding: 15px 10px;
  margin: 0;
  border: 2px solid #06c167;
}
.card .btn:hover {
  border: 2px solid transparent;
  background: #06c167;
  color: #fff;
}
.card .btn .span {
  font-weight: 400;
}
.lowerBg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 80px;
  background-image: url(./fbg.png);
  overflow: hidden;
}
.lContent {
  display: flex;
  flex-direction: column;
  padding: 100px 150px;
  color: #ffffff;
  align-items: center;
}
.l-text {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  height: 50vh;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
}
.fContent {
  display: flex;
}

.fContent .address {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
}

.address .a-logo {
  font-weight: 500;
  font-style: normal;
  color: #06c167;
}
.address .a-icon {
  margin-right: 20px;
}

.address .a-text {
  color: #1d1d1f;
  font-weight: 400;
}

.fContent .aboutUs {
  flex: 3;
  display: flex;
  gap: 0.5rem;
  padding-left: 50px;
}
.about-t {
  color: #1d1d1f;
  font-weight: 500;
  margin-bottom: 50px;
}
.aboutUs .about ul {
  list-style: none;
  padding: 0;
}
.about-l {
  margin: 10px 0;
}
.aboutUs .a1 {
  flex: 1;
  width: 100%;
}
.aboutUs .a2 {
  flex: 1;
  width: 100%;
}
.aboutUs .a3 {
  flex: 2;
  box-sizing: border-box;
}
.wishes {
  color: #1d1d1f;
  font-weight: 400;
  margin-bottom: 20px;
  word-break: break-all;
}
.a3 form {
  display: flex;
}
.a3 input {
  /* width: 100px; */
  height: 50px;
  outline: none;
  border: none;
  background-color: #f0f1ec;
  padding: 0 25px;
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}
.a3 .btn {
  padding: 13px 27px;
  border: 2px solid transparent;
  font-size: 18px;
  font-weight: 400;
}
.copyright {
  height: 80px;
  color: #1d1d1f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-text {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1080px) {
  .hcontent {
    display: flex;
    flex-direction: column;
  }
  .hleft {
    padding-right: 80px;
  }
  .hleft .c-title {
    font-size: 70px;
  }
  .hleft .c-text {
    font-size: 20px;
  }
  .hcontent .right {
    display: flex;
    justify-content: center;
  }
  .c-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evanly;
    gap: 2rem;
  }
  .sLower {
    display: flex;
    justify-content: flex-start;
    gap: 0 8rem;
  }
  .sr-icon {
    top: -150px;
    right: 80px;
  }

  .benefit {
    display: flex;
    flex-direction: column;
  }
  .mContent {
    display: flex;
    flex-direction: column;
  }
  .mRight {
    display: flex;
    justify-content: center;
  }
  .b-left {
    margin-bottom: 25px;
  }
  .tile .bx1 {
    border-top: 2px solid #06c167;
    border-right: 2px solid #06c167;
  }
  .tile .bx4 {
    border-left: 2px solid #06c167;
  }
  .about-t {
    font-size: 22px;
    margin-bottom: 22px;
  }
  .aboutUs .a3 {
    flex: 1;
    width: 40%;
  }
  .address .a-text {
    font-size: 18px;
  }
  .a3 form {
    display: flex;
    flex-direction: column;
  }
  .a3 input {
    width: 165px;
    padding: 12px;
  }
  .a3 .btn {
    width: 165px;
  }
  .l-text {
    font-size: 45px;
  }
  .fContent .aboutUs {
    padding-left: 30px;
  }
}
@media screen and (max-width: 786px) {
  .lowerBg {
    margin: 80px 20px;
    background-size: cover;
  }
  .features {
    padding: 0 20px;
  }
  .p-heading {
    font-size: 45px;
  }
  .top {
    margin-bottom: 10px;
    align-items: center;
  }
  .top .fa-bars {
    display: block;
    font-size: 25px;
  }
  .btn {
    padding: 15px;
  }
  .btn span {
    font-size: 18px;
  }
  header .top .nav {
    display: none;
  }
  .hleft {
    padding-right: 30px;
    margin-top: 25px;
  }
  .hleft .c-title {
    font-size: 45px;
  }
  .hleft .c-text {
    font-size: 18px;
  }
  .right .img {
    margin: 0;
    width: 435px;
    height: 85%;
  }
  .right .ratings {
    left: -15px;
    bottom: 150px;
  }
  .right .feedback {
    right: -60px;
  }
  .withUs {
    padding: 20px 20px;
  }
  .sLeft {
    flex: 2;
  }
  .sLeft .c-logo {
    padding: 0;
  }
  .sRight {
    flex: 1;
  }
  .sLower {
    gap: 0 3rem;
    margin-bottom: 40px;
  }
  .sUpper {
    margin-bottom: 0;
  }
  .lContent {
    padding: 40px 60px;
  }
  .l-text {
    font-size: 35px;
  }
  .provide .s-icon {
    padding: 14px;
    font-size: 25px;
    margin-right: 10px;
  }
  .provide .s-title {
    font-size: 13px;
  }
  .benefit {
    padding: 0 20px;
  }
  .b-left {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .b-left .b-img {
    width: 90%;
    overflow: hidden;
  }
  .br-heading {
    font-size: 40px;
  }
  .br-option {
    padding-top: 30px;
  }
  .mContent {
    padding: 0 20px;
  }
  .ml-heading {
    font-size: 45px;
  }
  .m-img {
    width: 80%;
  }
  .f-heading {
    font-size: 45px;
  }
  .tile {
    justify-content: center;
  }
  .product {
    padding: 0 20px;
  }
  .footer {
    padding: 0 20px;
  }
  .fContent .address {
    justify-content: flex-start;
    gap: 1.5rem;
  }
  .address .a-text {
    font-size: 15px;
  }
  .fContent .aboutUs {
    padding-left: 20px;
  }
  .fContent {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .address .a-text {
    font-size: 18px;
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
  .lowerBg {
    margin: 60px 0;
  }
  .p-heading {
    font-size: 35px;
  }
  header {
    padding: 30px 20px;
  }
  .hleft {
    padding: 20px;
    text-align: center;
  }
  .hleft .c-title {
    font-size: 35px;
  }
  .hleft .c-text {
    font-size: 15px;
  }
  .right .img {
    width: 85%;
  }
  .right .ratings {
    left: calc(50% - 80px);
    bottom: 80px;
    width: 156px;
    height: 34px;
  }
  .ratings div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .ratings .r-text {
    font-size: 12px;
  }
  .fa-star {
    font-size: 10px;
  }
  .sr-icon {
    width: 190px;
    top: -150px;
    right: -20px;
  }
  .sr-icon .fa-circle {
    font-size: 4px;
    margin: 6px;
  }
  .sUpper {
    display: flex;
    flex-direction: column-reverse;
  }
  .sLower {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    gap: 0;
  }

  .sLeft {
    flex: 4;
  }
  .sRight {
    flex: 1;
  }
  .right .feedback {
    position: absolute;
    width: 156px;
    height: 32px;
    left: calc(50% - 80px);
    bottom: 35px;
  }
  .feedback img {
    width: 25px;
  }
  .feedback .f-text {
    font-size: 10px;
  }
  .sLeft .c-logo {
    gap: 0.8rem;
  }
  .logo-item .lg-i {
    width: 13px;
  }
  .logo-item {
    font-size: 14px;
  }

  .sLower .provide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  .sLower .provide:nth-child(4) {
    margin-left: 10px;
  }
  .provide .s-icon {
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
  }
  .provide .s-title {
    font-size: 12px;
  }
  .s-title .s-heading {
    font-size: 12px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .btn span {
    font-size: 16px;
  }
  .b-left .b-img {
    height: 300px;
    overflow: hidden;
  }
  .b-right {
    padding-left: 20px;
  }
  .brIcon .fa-circle {
    font-size: 4px;
    margin: 6px;
  }
  .br-heading {
    font-size: 35px;
  }
  .br-option {
    font-size: 12px;
  }
  .mLeft .ml-count {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .ml-heading {
    font-size: 35px;
  }
  .f-heading {
    font-size: 35px;
  }
  .about-t {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .about-l {
    font-size: 14px;
  }
  .wishes {
    font-size: 14px;
  }
  .a3 input {
    width: 125px;
    height: 40px;
  }
  .a3 .btn {
    width: 125px;
    padding: 10px;
  }
  .fContent .aboutUs {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .aboutUs .a3 {
    width: 100%;
  }
  .wishes {
    font-size: 16px;
    padding: 20px;
    margin-bottom: 0;
  }
  .a3 input {
    margin: 0;
    width: 100%;
  }
  .a3 .btn {
    width: 100%;
  }

  /* box  */
  .tile {
    width: 90%;
  }
  .tile .t-img {
    width: 225px;
  }
  .tile .bx1,
  .bx2,
  .bx3,
  .bx4 {
    border: 2px solid #06c167;
  }
  .card {
    width: 225px;
  }
  .t-img {
    width: 85%;
  }
  .card .btn {
    padding: 5px 0;
  }
}
